
manifest {
    name            = 'edo/nf-gene-catalogue'
    version         = '1.0.0'
    description     = 'Gene catalogue from Prodigal ORFs with MMseqs2'
    nextflowVersion = '!>=25.10.0'
}

params {
    input = './metadata/spreadsheet_samples.csv'
}

outputDir = 'results'

profiles {

    univ_hpc {
        process.executor = 'slurm'
        conda.enabled = true
        conda.cacheDir         = '/path/to/shared/conda_envs'  // build envs once, reuse them
        process.resourceLimits = [ memory: 750.GB, cpus: 36, time: 30.d]
    }
    mars {
        process.executor = 'docker'
        conda.enabled = true
        process.resourceLimits = [ memory: 40.GB, cpus: 16, time: 1.d ]
    }
    my_laptop {
        process.executor = 'docker'
        conda.enabled = true
        process.resourceLimits = [ memory: 8.GB, cpus: 4, time: 1.d ]
    }

    process {
    withName: 'fastp' {
        memory = 30.GB
        cpus = 9
        time = 1.d
    }
    withName: 'megahit' {
        memory = 100.GB
        cpus = 24
        time = 4.d
    }
    withName: 'pool_orfs' {
        cpus = 2
        memory = 2.GB
    }
    withName: 'mmseqs' {
        memory = 20.GB
        cpus = 9
        ext.args = '--min-seq-id 0.9 -c 0.8 --cov-mode 1'
      }
}

    docker {
        docker.enabled = true
    }
    singularity {
        singularity.enabled    = true
        singularity.autoMounts = true
    }

}
