
//manifest {
//    name            = 'edo/nf-gene-catalogue'
//    version         = '1.0.0'
//    description     = 'Gene catalogue from Prodigal ORFs with MMseqs2'
//    nextflowVersion = '!>=25.10.0'
//}

params {
    input = './assets/spreadsheet_samples.csv'
    hmm_db = './assets/hmm_db'
}

outputDir = 'results'

profiles {
    // where
    univ_hpc {
        process.executor = 'slurm'
        conda.enabled = true
        conda.cacheDir         = '/ibiscostorage/dcorso/metagenomics/conda_envs_gene_catalogue'  // build envs once, reuse them
        process.resourceLimits = [ memory: 300.GB, cpus: 36, time: 4.d]
    }
    mars {
        process.executor = 'local'
        conda.enabled = true
        process.resourceLimits = [ memory: 40.GB, cpus: 16, time: 1.d ]
    }
    my_laptop {
        process.executor = 'local'
        conda.enabled = true
        process.resourceLimits = [ memory: 8.GB, cpus: 4, time: 1.d ]
    }
    docker {
        docker.enabled    = true
        docker.runOptions = '-u $(id -u):$(id -g)'
    }
    singularity {
        singularity.enabled    = true
        singularity.autoMounts = true
        singularity.cacheDir = '/ibiscostorage/dcorso/metagenomics/singularity_cache'
    }
    conda {
        conda.enabled  = true
        conda.cacheDir = '/ibiscostorage/dcorso/metagenomics/conda_envs_gene_catalogue'
    }
}

process {
    withName: 'FASTP' {
        memory = 30.GB
        cpus = 9
        time = 1.d
    }
    withName: 'POOL_ORFS' {
        cpus = 2
        memory = 2.GB
    }
    withName: 'DEREPLICATION' {
        memory = 20.GB
        cpus = 9
        ext.args = '--min-seq-id 0.9 -c 0.8 --cov-mode 1'
      }
    withName: 'ASSEMBLY' {
        memory = 100.GB
        cpus = 24
    }

}
